*
{
	padding: 0;
	margin: 0;
}
.img-responsive
{
	max-width: 100%;
}
body
{
	font-size: 100%;
	background: #f1f1f1;
}
a {text-decoration: none;}
.scrol-up img
{
	opacity: 0.25;
	margin-top: 5px;
}

#back-top {
    position: fixed;
    bottom: 0px;
    padding: 0px;
    left: 50%;  
    margin-left: 34.375em;
    z-index:99991;
    }
#back-top a{
    width: 77px;
    height: 30px;
    border-radius: 5px 5px 0 0;
    background: rgba(0, 0, 0, 0.25);
    display:block;
    text-decoration:none;
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    text-align: center;
     
    }
 
#back-top a:hover{
    height: 70px;
    border-radius: 5px 5px 0 0;
    background: #663399;
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: #fff;
    }

/******************PRELOADER********************/
#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: rgba(49,52,84,0.8);
z-index: 999;
/*opacity: 0.8;*/}
 
.contpre small{font-size:25px;
font-family: 'Arial'}
 
.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;
font-family: 'Arial'}
 
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(../img/tail-spin.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;}

/**************************************/
.header
{
	background: url(../img/banner.jpg)no-repeat;
	background-size: cover;
}
.logo-d
{
	display: none;
}
.humburger-icon
{
	border: 1px solid #fff;
	display: inline-block;
	padding: 0.3125em;
	border-radius: 4px;
	cursor: pointer;
}
.humburger-icon span
{
	display: block;
	height: 4px;
	width: 35px;
	background: #fff;
	margin-bottom: 4px;
}
.humburger-icon span:last-child
{
	margin-bottom: 0;
}
.top-header
{
	padding: 0.625em;
}
.logo-m
{
	width: 90%;
	margin: 0.125em;
}
.nav-d
{
	display: none;
}
.nav-d ul
{
	font-size: 0;
	list-style-type: none;
}
.nav-d li
{
	display: inline-block;
	
}
.nav-d a:hover
{
	color: #5fd;
	border-radius: 5px;
	transition: 0.8s;
}
.nav-d a
{
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	margin: 0 2em;
	font-family: 'Raleway';
}
.supsubt
{
	display: none;
}
/*******************************START Nav-MOB*******************************/
.nav-mob {
    width: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: -111%;
    padding: 15px 20px;
    -webkit-transition: left 0.8s;
    -moz-transition: left 0.8s;
    transition: left 0.8s;
    background: #292d48;
    z-index: 2000;
    opacity: 1;
    text-align: left;
}
.nav-logo
{
	
}
.close-btn
{
	position: relative;
	top:0;
	left: 20%;
	width: 50px;
	height: 50px;
	display: inline-block;
	border: 1px solid #f1f1f1;
	border-radius: 50%;
	margin:0px 15px 15px 0;
	text-align: center;
	cursor: pointer;
	padding-top: 1px;
	box-sizing: border-box;
	color: #f1f1f1;
	font-size: 40px;
}
.close-btn:hover
{
	background: #f1f1f1;
	color:#292d48;
}
.crest
{
	margin:0 auto;
}
.nav-toggle {
    color: #dadada;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1;
     z-index: 2001;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
.nav-toggle:hover {
    color: #f4f4f4;
}
[id='nav-toggle']:checked ~ .nav-mob > .nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}
[id='nav-toggle'] {
    position: absolute;
    display: none;
}
[id='nav-toggle']:checked ~ .nav-mob {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
    display: block;
}
.nav-mob > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-mob > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav-mob > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.nav-mob > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #66697e;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}
.nav-mob > ul > li > a:hover,
.nav-mob > ul > li > a:focus {
    color: #5fd;
    padding-left: 15px;
}
.nav-mob > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 50%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.nav-mob > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
/**********************************Nav-MOB END*****************************/

.supermen-text
{
	text-transform: uppercase;
	color: #fff;
	font-size: /*4.0625em*/ 2em;
	padding:0.46875em;
	font-family: 'Open Sans';
}
.supermen-btn
{
	width: 200px;
	height: 50px;
	background: #e84545;
	border:none;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.8125em;
	transition:all 0.3s ease;
	outline: 0;
	margin: 0.76923em 0;
}
.supermen-btn:hover
{
	background: #ff0000;
	transition: 1s;
}
/*****************************START GALARY*******************************/
.services__block
{
	font-family: 'Raleway', sans-serif;
}
.services__block img
{
	margin: 1.875em 0;
}
.services__block h3
{
	text-transform: uppercase;
	font-size: 0.875em;
	font-weight: bold;
}
.services__block p
{
	color: #6c7279;
	font-size: 0.875em;
	padding: 1.7857em 0em;
}

.galary__not-hover {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.galary__not-hover img
{
	width: 100%;
	height: 100%;
}
   /**********************HOVER TRANSITION***********************/
.galary__hover {
    /*background-color: rgba(232,83,81,0.8);*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgba(255,255,255,0);
    display: none;
    }
  .galary__hover:hover
  {
  	background-color: rgba(232,83,81,0.8);
  	 color: rgba(255,255,255,1);
  	 transition: background-color 0.8s , color 0.8s  linear;
  }
    /**********************HOVER TRANSITION***********************/
.galary__hover h4
{
	position: absolute;
	top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
	text-transform: uppercase;
	font-family: 'Raleway';
}
.galary__hover p
{
	position: absolute;
	top: 58%;
	right: 0;
    left: 0;
    bottom: 0;
    font-family: 'Raleway';
}
.galary__not-hover:hover .galary__hover {
    display: block;
}
/***********************************Olya**********************************/
.personal-block
{
	
	font-family: 'Raleway',sans-serif;
	
	padding: 1.375em;
	text-align: center;
	
}
.personal-block h3
 {	color: #2d3033;
 	font-size: 1.375em;
 	font-weight: bold;
 	padding: 1em 0;
 	
 }

  .personal-block img
 {
 	max-width: 100%;
 	height: auto;
 }

.personal-block span
{
 	
 	font-size: 0.6125em;
 	color:#e84545;
 	text-transform: uppercase;
 	font-weight: bold;
 	
}
 .personal-block p 
{
		display: none;
		padding-bottom: 1.325em;
		font-size: 0.75em;
		line-height: 1.5;
		color:#6c7279;
}
.social
{
	width: 16.875em;
}
.social a
{
	text-decoration: none;
	
}

.social a
{
	text-align: center;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}

	80% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
}
.social img:hover
{
 animation: bounce 1s;
}

/***********************************Artemiy******************************/
.slide-box
{
	position: relative;
}
.slide-img img
{
	/*background:url(../img/comment.jpg)no-repeat;*/
	width: 100%;
	height: 100%;
	display: block;
}
.slide-img2 img
{
	/*background:url(../img/comment.jpg)no-repeat;*/
	width: 100%;
	height: 100%;
	display: block;
}
.slide-img
{
	position: absolute;
	top:0;
	left:-100%;
	width: 100%;
	height: 100%;
	z-index: 20;
	opacity: 0;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.popup-modules:checked ~ .slide-img
{
	opacity: 1;
	display: block;
	left:0;
}
.circle
{
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000;
	cursor: pointer;
	z-index: 2;
}





.download h1
{
	/*margin-top: 1em;*/
	font-size: 1.75em;
	font-family: 'Raleway';
	text-transform: uppercase;
	font-weight: normal;

}
.download p
{
	margin: 0.825em 0;
	font-size: 0.8125em;
	font-family: 'Raleway';
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.download button
{
	margin: 2em 0 6.25em 0;
	width: 250px;
	height: 50px;
	background: #e84545;
	border: none;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.8125em;
	transition: all 0.3s ease;
	outline: 0;
}
.download button:hover
{
	background: #ff0000;
	transition: 0.8s;
}
.location
{
	width: 100%;
	background: #3a3e64;
	padding: 0.75em 0;
}
.location h1
{
	font-family: 'Raleway';
	color: #fff;
	font-size: 0.875em;
	margin: 0.3125em 0;
	text-transform: uppercase;
}
.location p
{
	font-family: 'Raleway';
	color: #adaebb;
	font-size: 0.875em;
}
.share
{
	display: none;
}
.about
{
	display: none;
}
.footer
{
	background: #313454;
	padding: 2em 0;
}
.footer p
{
	font-size: 0.875em;
	font-family: 'Open Sans';
	color: #808080;
	display: inline-block;
}
.footer span
{
	color: #EE2412;
	font-size: 2,8671875em;
	font-family: 'Open Sans';
	display: inline-block;
}
.footer p:last-child
{
	color: #fff;
	font-size: 0.875em;
	font-family: 'Open Sans';
	display: inline-block;
}

.top-footer
	{
		width: 100%;
		}
.slider-container
{
	display: none;
}

.line
{
	height: 0.0625em;
	background: #c7c8c9;
	margin-bottom: 6.25em;
}


/*..........................Artem-desktop..........................*/

@media screen and (min-width: 64em) 
{
	html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
}
.line
{
	display: none;
}
img {
  max-width: 100%;
}
.services
	{
		padding: 7.81em 0;
	}
	.logo-m
	{
		display: none;
	}
	.logo-d
	{
		display: block;
	}
	.humburger-icon
	{
		display: none;
	}
	.nav-mob
	{
		 display: none;
	}
	.nav-d
	{
		display: block;
	}
	.top-header
	{
		padding: 2.18em 0;
		border-bottom: 1px solid #505268;
	}
	.supsubt
	{
		display: block;
		color: #fff;
	}
	.supermen-text
	{
		font-size: 4.025em;
	}
	.supermen-btn
	{
		margin: 4.68em 0;
	}



.slider-container{
  height: 27.25em;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
  margin:2.375em 0 0 0;
  display: block;
}

.menu {
  position: absolute;
  right: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
  top:20.625em;
  left: 20.625em;
  height: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #f1f1f1;
  border-radius: 50%;
  margin: 0 .2em 1em;
 }

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 10;
  background-size: cover;
  background-position: 50% 50%;
  transition: right 0s .75s;
}

[id^="slide"]:checked + .slide {
  right: 0;
  z-index: 100;
  transition: right 0.8s ease-out;
}

[id^="b"]:checked + .slide {
  right: 0;
  z-index: 100;
  transition: right 0.8s ease-out;
}

#slide-dot-1:checked ~ .menu .trig-1
{
  background:  #9ea1a2;
}
#slide-dot-2:checked ~ .menu .trig-2
{
  background: #9ea1a2;
}
#slide-dot-3:checked ~ .menu .trig-3 
{
  background: #9ea1a2;
}

/*.slide-1 {
  background-image: url(../img/comment.jpg);
}*/
/*.slide-2 {
  background-image: url(../img/comment2.jpg);
}
.slide-3 {
  background-image: url(../img/comment3.jpg);
}*/

	body
	{
		background: #fff;
	}
	.personal-block
	{
		
		margin:2.875em auto;
		margin-bottom: 0;
	}
	.personal-block span
	{
		
		text-align: inherit;
	}
	.personal-block p 
	{
		display: inline-block;
		text-align: left;
	}
	.personal-block h3 
	{
		text-align: left;
	}
	.contacts-block
	{
		
		text-align: left;
	}
	.social
	{
		text-align: left;
	}
	
	.top-footer
	{
		width: 100%;
		background: #3a3e64;
	}
	.location
	{
		padding: 4.4375em 0 6.875em 0;
	}
	.location h1
	{
		margin-bottom: 1.375em;
	}
	.share
	{
		background: #3a3e64;
		display: block;
		padding: 4.4375em 0 6.675em 0;
	}
	.share h1
	{
		text-transform: uppercase;
		font-family: 'Raleway';
		font-weight: bold;
		font-size: 0.875em;
		color: #fff;
	}
	.share button
	{
		width: 2.25em;
		height: 2.25em;
		border: 0.125em solid #fff;
		border-radius: 0.1875em;
		outline: 0;
		display: inline-block;
		background: #3a3e64;
		margin: 1.375em 0.4375em 0 0;
		transition: all 0.5s ease;
		cursor: pointer;
	}
	.share button:hover
	{
 		border-radius: 50%;
 		background: #eb5e5e;
		border: 1px solid #fff;
		transition: 0.8s;
		
	}
	.social-fs img
	{
		width: 6px;
		margin-bottom: -1px;
	}
	.social-tw img
	{
		margin-bottom: -1px;
	}
	.social-in img
	{
		width: 14px;
		margin-bottom: -1px;
	}
	.about
	{
		padding: 4.4375em 0 5.5em 0;
		display: block;
	}
	.about h1
	{
		text-transform: uppercase;
		font-family: 'Raleway';
		font-weight: bold;
		font-size: 0.875em;
		color: #fff;
	}
	.about p
	{
		font-family: 'Raleway';
		color: #adaebb;
		font-size: 0.875em;
	}
	.about-text
	{
		width: 330px;
		margin: 1.375em auto 0;
	}
	.footer-btm-text
	{
		display: block;
	}
}